/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/data/ @risson
/scripts/ @risson

/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/* @risson @ddorn
/modules/nixos/ @risson @ddorn

/modules/home/* @risson @ddorn
/modules/home/default/ @risson @ddorn
/modules/home/server/ @risson @ddorn
/modules/home/workstation/ @risson @ddorn

/modules/home/risson/ @risson
/modules/home/diego/ @ddorn
