/CODEOWNERS @risson @ddorn
/LICENSE @risson @ddorn
/README.md @risson

/default.nix @risson
/shell.nix @risson

/rfcs/ @risson @diego

/data/ @risson @diego

/hosts/cuckoo/ @risson
/hosts/giraffe/ @risson
/hosts/hedgehog/ @risson
/hosts/kvm-1/ @risson @diego
/hosts/ldap-1/ @risson
/hosts/mail-1/ @risson
/hosts/minio-1/ @risson
/hosts/nas/ @risson
/hosts/postgres-1/ @risson
/hosts/reverse-1/ @risson
/hosts/web-1/ @risson @ddorn
/hosts/web-2/ @risson @ddorn

/modules/nixos/ @risson @ddorn
/modules/risson/ @risson
/modules/diego/ @ddorn

/deploy/bar.nix @risson
/deploy/fsn.nix @risson @ddorn
/deploy/primaries.nix @risson @ddorn
