[global_config]
  always_split_with_profile = True
[keybindings]
  layout_launcher = Disabled
[profiles]
  [[default]]
    background_darkness = 0.75
    background_type = transparent
    cursor_color = "#aaaaaa"
    foreground_color = "#cccccc"
    show_titlebar = False
    scrollbar_position = hidden
    scrollback_lines = 10000
    scrollback_infinite = True
    palette = "#000000:#f92672:#6cc72c:#fe9720:#5f91ef:#9358fe:#36af90:#8c8c8c:#4c4c4c:#ff80f4:#a7e22e:#ffee99:#5fd9ef:#ae82fe:#66efd5:#c7cece"
  [[white]]
    background_color = "#ffffdd"
    cursor_color = "#aaaaaa"
    foreground_color = "#000000"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
